<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.group.trentomobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".context.MyApplication">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        </activity>
        <activity
            android:name=".CategorieActivity"
            android:label="@string/title_activity_categorie"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity$TileActivity"
            android:label="@string/title_activity_tile" />
        <activity
            android:name=".TailActivity"
            android:label="@string/title_activity_tail" />
        <activity
            android:name=".PorvaTrasporti"
            android:label="ProvaTrasporti"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyPreferenceActivity"
            android:label="@string/title_activity_preference" />
        <activity
            android:name=".TipoActivity"
            android:label="@string/title_activity_tipo"></activity>
    </application>

</manifest>