<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.group.trentomobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".context.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_grande"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_grande"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB1BgTpG8PYzFz8auHhvniO5JFqS0VKqkM" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategorieActivity"
            android:label="@string/title_activity_categorie"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PreferitiActivity"
            android:label="Preferiti"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CercaActivity"
            android:label="Cerca"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TailActivity"
            android:label="Trento Mobile" />
        <activity
            android:name=".PorvaTrasporti"
            android:exported="true"
            android:label="ProvaTrasporti">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyPreferenceActivity"
            android:label="@string/title_activity_preference" />
        <activity
            android:name=".TipoActivity"
            android:label="@string/title_activity_tipo" />
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingPreference"
            android:label="@string/title_activity_setting_preference"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>